/* estilos básicos */
body {
    font-family: 'Nunito', Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

/* cabeçalho/barra superior */
header {
    background-color: #2D46B9;
    color: #F8F8F8;
    padding: 10px 0;
    padding-bottom: 20px;
    text-align: center;
}

/* navegação */
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

nav a {
    color: #F8F8F8;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* container principal */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #F8F8F8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* rodapé/barra inferior */
footer {
    text-align: center;
    padding: 10px;
    background-color: #2D46B9;
    color: #F8F8F8;
    margin-top: 20px;
}

/* títulos */
h1, h2 {
    color: #F037A5;
}

h1{
    font-size: 40px;
}

/* links */
a {
    color: #2D46B9;
    text-decoration: none;
}

a:hover {
    color: #F037A5;
    text-decoration: underline;
}

/* texto destacado */
.highlight {
    color: #F037A5;
    font-weight: bold;
}

/* responsividade */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    nav {
        flex-direction: column;
        gap: 5px;
    }
}

/* container do index */
.containerindex {
    max-width: 800px;
    margin: 20px auto;
}
 
/* foto no index */
#fotoambulatorio{
    height: 447px;
    width: 800px;
    border-radius: 8px;
}

/* medidas originais:
    height: 647px;
    width: 768px;
*/